<div class="input-group mb-2">
    <input class="form-control" placeholder="Component Name" @bind="Component.Name" />
    <input class="form-control w-25" type="number" placeholder="Life (yrs)" @bind="Component.UsefulLifeYears" />
    <input class="form-control w-25" type="number" step="0.01" placeholder="Cost ($)" @bind="Component.ReplacementCost" />
    <button class="btn btn-outline-danger" @onclick="OnRemove">Remove</button>
</div>

@code {
    [Parameter] public ReserveComponent Component { get; set; } = default!;
    [Parameter] public EventCallback OnRemove { get; set; }
}